      <!-- FOOTER -->
  <footer>
    <div class="container">
        <div class="navbar-bottom footer">
        <div class="row">
            <div class="social-bar col-md-12">
               <div class="col-sm-4 col-md-4">
                    <i class="fa fa-envelope-o"></i> <a class="footer-text space" href="mailto:robert.max.king@gmail.com">robert.max.king@gmail.com</a>
              </div> 
               <div class="col-sm-4 col-md-4">
                     <i class="fa fa-phone"></i> <span class="footer-text">317-362-4415</span>
            </div>
            <div class="col-sm-4 col-md-4">
                <a href="https://www.facebook.com/max.king.12" class="fb-link">
                    <i class="fa fa-facebook-square space"></i></a>
                     <span class="footer-text pipe">|</span>
                <a href="https://www.linkedin.com/in/max-king-pmp-csm-46663541" class="linkedin-link space">
                    <i class="fa fa-linkedin-square"></i></a>
            </div>

            </div>
        </div>
    </div>
      </div>
</footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-86561461-1', 'auto');
      ga('send', 'pageview');

</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../web_assets/js/main.js"></script>
    <script src="../../web_assets/js/quiz.js"></script>

    </body>
</html>