      <!-- FOOTER -->
  <footer class="navbar-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="social-bar col-md-12">
                <i class="fa fa-envelope-o"></i> <a class="footer-text space" href="mailto:robert.max.king@gmail.com">robert.max.king@gmail.com</a> <span class="footer-text space">|</span> <i class="fa fa-phone"></i> <span class="footer-text">317-362-4415</span>
                 <span class="footer-text">|</span>
                <a href="https://www.facebook.com/max.king.12" class="fb-link">
                    <i class="fa fa-facebook-square space"></i></a>
                     <span class="footer-text">|</span>
                <a href="https://www.linkedin.com/in/max-king-pmp-csm-46663541" class="linkedin-link space">
                    <i class="fa fa-linkedin-square"></i></a>

            </div>
        </div>
    </div>
</footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../web_assets/js/main.js"></script>
    <script src="../../web_assets/js/quiz.js"></script>

    </body>
</html>