      <!-- FOOTER -->
      <footer>
        <div class="container">
    <div class="row">
       <div class="contact-bar">
            <h3> 
                <div class="col-md-4">
                     <span class="contact-item table-item">
                          <i class="fa fa-envelope-o"></i> <a href="mailto:robert.max.king@gmail.com">robert.max.king@gmail.com</a>
                      </span>
                  </div>
                      
                  <div class="col-md-4">
                      <span class="contact-item table-item">
                          <i class="fa fa-phone"></i>317-362-4415
                    </span> 
                </div> 


                <div class="col-md-2 table-item">
                    <div class="img">
                        <a href="https://www.facebook.com/max.king.12">
                            <img class="img-responsive" src="../web_assets/img/contact/facebook.png" alt="facebook" height="100" width="100" /></a>
                    </div>
                </div>

                <div class="col-md-2 table-item">
                    <div class="img">
                        <a href="https://www.linkedin.com/in/max-king-pmp-csm-46663541">
                            <img class="img-responsive" src="../web_assets/img/contact/LinkedIn_logo.png" alt="linked in" height="100" width="100"/></a>
                    </div>
                </div>   
            </h3>
        </div>
                    
    </div>
</div>
      </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../web_assets/js/main.js"></script>

    </body>
</html>