$color-fb: #3b5998;
$color-linkedin: #0077b5;

.social-bar {
    line-height: 60px;
    text-align: center;
@media screen and (max-width: 767px) {
    line-height: 1.5;
  }
    
}

.footer {

    .fa-facebook-square,
    .fa-linkedin-square,
    .fa-envelope-o,
    .fa-phone,
    .footer-text {
      font-size: 2rem;
      color: black;
    }
}

.fb-link {
    display: inline-block;
    color: $color-fb;
    transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    color: darken( $color-fb, 10% )
  }
}
.linkedin-link {
    display: inline-block;
    color: $color-linkedin;
    transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    color: darken( $color-linkedin, 10% )
  }
}



.table-item + .table-item {
  padding-left: 10px;
}

.space {
    padding: 0 10px;
}

footer .navbar-bottom {
    background-color: #66fcf1;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 30px;
    
    
    
}


// Mobile Media Query

@media (max-width: 767px) {
    .pipe {
        display: none;
    }
    
.fa-facebook-square,
.fa-linkedin-square,
.fa-envelope-o,
.fa-phone,
.footer-text {
  font-size: 1.4rem;
  line-height: 30px;
}
}

//MEDIUM MEDIA QUERY
@media (max-width: 1200px) {
    .social-bar {
        .fa-envelope-o {
        display: none;
        }
    }
}


@media screen and (max-width: 370px) {
    .social-bar {
        .fa-facebook-square,
        .fa-linkedin-square,
        .fa-envelope-o,
        .fa-phone,
        .footer-text {
          font-size: 1.6rem;
          color: black;
    }
    }
}



